/*Flexbox Pregunta inicio*/
.contenedorPregunta{
    display: flex;
    flex-direction: column;
    background-color: $color1;
    width: 350px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}
/*flexbox pregunta fin*/
@media (max-width: 950px){
	.contenedorPregunta_titulo{
		font-size: 1.5rem;
	}
}
@media (max-width: 768px){
	.contenedorPregunta_titulo{
		font-size: 1.2rem;
    }
    .contenedorPregunta{
        display: flex;
        flex-direction: column;
        background-color: $color1;
        width: vh;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        margin-top: 5px;
        margin-bottom: 5px;
	padding: 5px;
    }
}
.listadoPregunta{
    text-align: center;
    list-style-type: none ;
    color: $color4;
    font-style: italic;
    font-weight: bold;
    font-size: $tamFuente-s;
}
@media (max-width: 700px){
    .contenedorPregunta{
        background-color: $color5;
        width: auto;
    }
    .listadoPregunta{
        font-size: $tamFuente-m;
    }
}
