/*contenedor pie de página*/
.footer__contenedor{
    display:  flex;
    flex-direction: row;
    background-color: $color4; 
    width: 100%; 
    height: 120px;
    padding: 10px;
}

.footerLeft{
    width: 50%;
    height: 100px;
    background-color: $color4;
    float: left;
    i{
        color: $color2;
        font-size: $tamFuente-l;
        background-color: $color4;
        margin: 10px;
    }
    i:nth-child(2){
        color:  rgb(10, 10, 250);
    }
    i:nth-child(3){
        color:  rgb(204, 12, 204);
    }
}

.footerRight{
    width: 50%;
    height: 100px;
    background-color: $color4;
    float: right;
    padding: 20px;
    i{
        color: rgb(17, 247, 17);
        font-size: $tamFuente-s;
        margin: 5px;
    }
}
.div_contenedorCreadorWeb--color{
    background-image: linear-gradient($color4, $color1);
    padding: 5px;
    margin-top: auto;
}
/*fin pie de pagina*/