/* fuentes de letras o estilos*/
.header__h1--estiloFuente{
    font-family: 'Playfair Display', serif;
    font-size: $tamFuente-xl;
    font-weight: bold;
    
}
.contenedorPregunta__h2--titulo{
    text-align: center;
    font-family: $fuente1;
    font-size: $tamFuente-m;
    font-weight: bold;
    color: $color2;
    text-shadow: 0 0 10px #333;
}
.h3--fuenteEstilo2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $tamFuente-xl;
    font-weight: bold;
    color: $color2;
}

.h3--fuenteEstilo3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $tamFuente-l;
    font-weight: bold;
    color: $color4;
}
.h3--fuenteEstilo4{
    font-family: $fuente1;
    font-style: italic;
    font-size: $tamFuente-m;
    font-weight: bold;
}
.fuenteEstiloParrafo{
    font-family: $fuente1;
    font-size: $tamFuente-s;
}
.interlineado{
    line-height: 30px;
}
.textoCentrado{
    text-align: center;
}
.footer__h4--estiloTipografia{
    background-color: $color4;
    color: $color2;
    font-family: 'Style Script', cursive;
    font-size: $tamFuente-m;
    font-weight: bold;
}
.footer__p--infoTipografia{
    background-color: $color4;
    color: $color2;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: $tamFuente-s;
    justify-content: center;
    text-align: center;
}
.textoOferta{
    text-align: center;
    font-size: $tamFuente-l;
    background-position: center;
    color: red;
    padding: 30px;
}
.div__p--tipografiaCreadorWeb{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: $color2;
}
.section__h3--fuenteEstiloContacto{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $color4;
    font-size: $tamFuente-xl;
    font-weight: bold;
    font-style: italic;
}
/*fin fuentes de letras o estilos*/