$color1: lightgray;
$color2: white;
$color3: gray;
$color4: black;
$color5: darkorange;
$fuente1: sans-serif;
$tamFuente-xs: 10px;
$tamFuente-s: 20px;
$tamFuente-m: 24px;
$tamFuente-l: 28px;
$tamFuente-xl: 62px;
$bordes:  2px solid $color4;
